apiVersion: v1
kind: Service
metadata:
  name: registry-service
  namespace: default
spec:
  type: LoadBalancer
  selector:
    run: registry
  ports:
    - name: registry-tcp
      protocol: TCP
      port: 5000
      targetPort: 5000
  loadBalancerIP: 10.211.55.250
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    run: registry
  name: registry
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      run: registry
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        run: registry
    spec:
      containers:
      - name: registry
        image: registry:2
        ports:
        - containerPort: 5000
          name: registre
        env:
        - name: REGISTRY_HTTP_TLS_CERTIFICATE
          value: "{{ repertoire_certificat }}tls.crt"
        - name: REGISTRY_HTTP_TLS_KEY
          value: "{{ repertoire_certificat }}tls.key"
        - name: REGISTRY_HTTP_TLS_CA
          value: "{{ repertoire_certificat }}ca.crt"
        volumeMounts:
        - name: registry-certs
          mountPath: "{{ repertoire_certificat }}"
          readOnly: true
        - name: registry-data
          mountPath: /var/lib/registry
          subPath: registry
      volumes:
      - name: registry-certs
        secret:
          secretName: registry-cert
      - name: registry-data
        persistentVolumeClaim:
          claimName: registre-claim

